

this is the front page of {{ username }}<br>

<a href="{{ path('registerclt',{'username':username})}}" class="btn btn-success">register<i class="icon-arrow-left" ></i></a>
<a href="{{ path('loginclt',{'username':username})}}" class="btn btn-success">login<i class="icon-arrow-left" ></i></a>